.Products {
  height: 645px;
  background: url("./assets/images/more-bg.jpg");
}
.Products {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.Products__Package-container {
  width: 80%;
}

.Products__header {
  color: #fff;
  text-align: center;
}

.Products__header__title {
  font-family: lato;
  font-size: 2.4em;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.Products__header__subtitle {
  font-family: lato;
  font-weight: 400;
  font-size: 1.3em;
  margin-bottom: 0.7em;
}
