$searchColor: #d0d0d0;

.CampaignManager__actionBar {
  display: none;
  justify-content: space-between;

  @include for-tablet-landscape-up {
    display: flex;
  }
}

.CampaignManager__search {
  box-sizing: border-box;
  width: 400px;
  height: 35px;
  padding-left: 0.4em;
  font-size: 0.9rem;
  border-radius: 0.1em;
  border: 2px solid $searchColor;
  color: black;
}

.CampaignManager__sortDropdown__description {
  padding-right: 10px;
  font-size: 0.8rem;
  font-weight: 500;
}

.CampaignManager__sortDropdown__select {
  @include select-action-btn;
}
