.CreateTemplate__header__nav {
  color: #b7b7b7;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  transition: 0.5s;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 10px;
  font-size: 0.9rem;
  cursor: pointer;

  &:hover {
    background-color: lighten($primaryDark, 10%);
  }
}

.CreateTemplate__header {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  height: 50px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  background-color: $primaryDark;
}

.CreateTemplate__name-input {
  @include main-input;
  background-color: lighten($primaryDark, 5%);
  color: #b7b7b7;
  border: none;
  height: 30px;
  width: 200px;
  margin-top: 10px;
}

.CreateTemplate__button-container {
  display: flex;
}
