.ContactForm__single-field {
  margin-bottom: 2rem;
}

.ContactForm__single-field__label {
  color: #333;
  text-transform: uppercase;
  font-family: lato;
  margin-bottom: 1rem;
}

.ContactForm__single-field__input {
  background-color: #f8f8f9;
  border: 1px solid #ececed;
  border-radius: 5px;
  width: 100%;
  resize: none;
  padding: 0.5rem;
  color: #5c6a72;
}

.ContactForm__single-field__star {
  color: #179dc7;
}
