@import "./SideBar/SideBar";
@import "./ActionBar/ActionBar";

$campaignManager-width: 1300px;

.CampaignManager {
  max-width: $campaignManager-width;
  margin: 0 auto;
}

.CampaignManager__header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 40px;
}

.CampaignManager__sidebar {
  width: 150px;
}

.CampaignManager__body {
  margin-top: 50px;
  display: flex;
}

.CampaignManager__listOuter {
  margin-left: 120px;
  width: 100%;
}

.CampaignManager__category-date {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #959595;
  font-size: 0.8125rem;
}
