.Clients {
  font-size: 80%;
}

.Clients__title__h2 {
  text-align: center;
  font-size: 1.1em;
  font-weight: 600;
  border-bottom: 1px solid #e1e3e4;
  border-top: 1px solid #e1e3e4;
  padding: 2rem;
}
