.MainSection {
  height: 681px;
  background: url("./assets/images/main-section-bg.jpg") no-repeat bottom;

  position: relative;
}

.MainSection__content {
  max-width: 85rem;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  margin: 0 auto;
  text-align: center;
  color: #fff;
  padding-left: 20px;
  padding-left: 20px;
  @include for-tablet-landscape-up {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.MainSection__content__title {
  font-weight: 400;
  font-size: 1.7rem;
  margin: 0.67em 0;
  font-family: lato;

  @include for-tablet-portrait-up {
    font-size: 2.1rem;
  }

  @include for-tablet-landscape-up {
    font-size: 2.5rem;
  }
}

.MainSection__content__subtitle {
  font-weight: 400;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.1rem;

  @include for-tablet-landscape-up {
    padding-left: 8rem;
    padding-right: 8rem;
    font-size: 1.6rem;
  }

  line-height: 1.5em;
  margin: 0.83em 0;
}

.MainSection__content__button {
  @include main-rounded-outline-btn(#fff, 2px);
  margin-top: 1rem;
}
