@import "./ActionBar/ActionBar";
@import "./TemplatesLists/TemplatesLists";
@import "./CreateTemplate/CreateTemplate";

$Template-width: 1300px;

.Template {
  max-width: $Template-width;
  margin: 0 auto;
}
.Template__header {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.Template__header__create {
  @include main-action-btn;
}

.Template__header__create__text {
  color: white;
  text-decoration: none;
}
