@import "./ActionBar/ActionBar";
@import "./TemplatesLists/TemplatesLists";
$Template-width: 1300px;

.Template {
  max-width: $Template-width;
  margin: 0 auto;
}
.Template__header {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
