@mixin main-input {
  box-sizing: border-box;
  width: 100%;
  display: block;
  height: 35px;
  padding-left: 0.4em;
  font-size: 0.9rem;
  border-radius: 0.1em;
  border: 2px solid $searchColor;
  color: $searchColor;

  @media (min-width: 500px) {
    width: 400px;
  }
}
