.CampaignList {
  margin-bottom: 20px;
  position: relative;
  padding-left: 44px;
  box-sizing: border-box;
  display: flex;
}

.CampaignList__body {
  max-width: 300px;
  @include for-tablet-portrait-up {
    width: 300px;
  }
}
.CampaignList__icon {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  color: #737373;
  font-size: 1.5rem;
}

.CampaignList__name {
  color: $primaryBlue;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

.CampaignList__alternate-text {
  font-size: 0.9rem;
}

.CampaignList__edit-date {
  margin-top: 6px;
  color: #939393;
  font-size: 0.9rem;

  span {
    font-weight: 500;
    color: #8f8f8f;
  }
}

.CampaignList__draft {
  background-color: #e0e0e0;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  white-space: nowrap;
  border-radius: 200px;
  color: #484848;
  padding: 3px 9px;
  height: 18px;
  margin: 0 6px;
}

.CampaignList__delete {
  @include alternate-action-btn;
  position: absolute;
  right: 45px;
  transition: opacity 0.2s ease-out;
  opacity: 0;

  &--is-visible {
    opacity: 1;
  }
}
