$header-height:50px;
$light-header-color:#FEFEFE;
$dark-header-color:#F2F2F2;
$navitem-paddingX:20px;
$navitem-paddingY:15px;
$navitem-color: #424242;

.Header{
    display:flex;
    width:'100%';
    box-sizing: content-box;
    height:$header-height;
    box-shadow:0 1px 3px rgba(0,0,0,0.1);
    justify-content: space-between;
}

.Header--light{
    background-color: $light-header-color;
}

.Header--dark{
    background-color:$dark-header-color;
}
.navbar{
    list-style: none;
    display:flex;
}

.navbar__navitem{
    padding: $navitem-paddingY $navitem-paddingX;
    color: $navitem-color;
    display: inline-block;
    vertical-align: top;
}

.signin{
    text-decoration: none;
    border:1px solid rgba(66,66,66,0.2);
    padding:8px 17px;
    border-radius:18px;
    white-space: nowrap;
    vertical-align: top;
}