.Hero {
  background: url("./assets/images/hero-bg.jpg");
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#784386),
    color-stop(25%, #6271bc),
    color-stop(75%, #00bcd2),
    to(#19c2b4)
  );
  min-height: 650px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  padding-top: 200px;
}

.Hero__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  @media screen and (min-width: 980px) {
    flex-direction: row;
  }
}

.Hero__diagonal {
  position: absolute;
  width: 2000px;
  height: 350px;
  bottom: -175px;
  left: 0;
  background-color: #fff;
  z-index: 1;
  transform: rotate(-10deg);
}

.Hero__parallax {
  position: absolute;
  left: -200px;
  top: -100px;
  width: 100%;
}

.Hero__parallax {
  div {
    width: 2200px;
    height: 950px;
  }
  &__layer-1 {
    background: url("./assets/images/parallax1.png");
  }
  &__layer-2 {
    background: url("./assets/images/parallax2.png");
  }
  &__layer-3 {
    background: url("./assets/images/parallax3.png");
  }
}

.Hero__content {
  color: #fff;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  @media screen and (min-width: 980px) {
    width: 50%;
    text-align: left;
    margin-bottom: 0px;
  }
}

.Hero__title {
  font-weight: 400;
  font-size: 2.4em;
  font-family: Lato;
  margin-bottom: 0.86em;
  @include for-phone-only {
    font-size: 1.8em;
  }
}

.Hero__subtitle {
  font-family: Lato;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.8em;
  margin: 0.83em 0;
  @include for-phone-only {
    font-size: 1.1em;
  }
}

.Hero__design-button {
  @include main-rounded-btn($darkSkyBlue);
  a {
    text-decoration: none;
    color: #fff;
  }
}

.Hero__image-container {
  width: 100%;
  @media screen and (min-width: 980px) {
    width: 50%;
  }
}

.Hero__image {
  position: relative;
  max-width: 100%;

  z-index: 100;
}
