@import "./TodoListItem/TodoListItem";
@import "./TaskCard/TaskCard";

.TodoList {
  margin-top: 50px;
  padding-left: 10px;
  padding-right: 10px;

  @include for-tablet-landscape-up {
    padding-left: 0px;
    padding-right: 0px;
  }
}
