@import "./NameEditor/NameEditor";
@import "./RecipientEditor/RecipientEditor";
@import "./SenderEditor/SenderEditor";
@import "./SubjectEditor/SubjectEditor";
@import "./TemplateEditor/TemplateEditor";

.c-CampaignEditor {
  width: 1300px;
  margin: 0 auto;
  margin-top: 20px;
}

.c-CampaignEditor__main-content {
  margin-top: 50px;
  padding: 20px;
}

.c-CampaignEditor--border {
  border: 1px solid #d0d0d0;
  border-radius: 0.2em;
}
