$primaryGrey: #737373;
$secondaryGrey: #484848;

$primaryBlue: #237a91;
$secondaryBlue: #52bad5;

$darkSkyBlue: #179dc7;
$primaryDark: #373737;

$light-header-color: #ffffff;
$dark-header-color: #f2f2f2;
$navitem-color: #424242;

//Grid System
$grid-columns: 12;
$grid-max-width: 1400px;
$breakpoint-small: "only screen and (min-width:400px)";
$breakpoint-medium: "only screen and (min-width:768px)";
$breakpoint-large: "only screen and (min-width:1008px)";
$breakpoint-xl: "only screen and (min-width:1300px)";
