.Instructions {
  margin-top: 20px;
}
.Instructions__singleItem {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: $secondaryGrey;
  font-weight: 500;
}

.Instructions__singleItem__icon {
  margin-right: 10px;
}
